# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Flask instance folder
instance/

# VS Code settings
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Logs and local databases
*.log
*.sqlite3

# Python environment files
*.env
.env

# Compiled HTML or cache
*.html~
*.bak
*.swp